@font-face {
    src: url(../fonts/Lato-Bold.ttf);
    font-family: 'Lato';
    font-weight: 700;
}

@font-face {
    src: url(../fonts/Lato-Regular.ttf);
    font-family: 'Lato-regular';
    font-weight: 400;
}

@font-face {
    src: url(../fonts/RobotoMono-Bold.ttf);
    font-family: 'Roboto';
    font-weight: 1100;
}

* , ::before , ::after {
    font-family: 'Lato-regular';
    box-sizing: border-box;
    font-weight: 700;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f5f5f5;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2.8rem 6.4rem auto 20rem;
    grid-template-areas: "banner banner banner" 
                         "nav nav nav"
                         "main main main"
                         "footer footer footer";
    margin: 0rem;
    gap: 0rem;
    align-content: top;
    justify-content: center;
    justify-items: stretch;
}

.banner {
    grid-area: banner;
    background: #141414;
    color: #ffffff;
    text-align: center;
    /* justify-items: center; */
}

.banner .banner-info {
    font-size: 90%;
    font-family: 'Roboto';
    font-weight: 1100;
    width: 97vw;
    margin: 0 auto;
    padding: 0.2rem 0.2rem;
    text-align: center;
}

.banner-info .color-banner{
    color: #ffa500;
    font-size: 0.94rem;
}

.header-properties {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0rem;
    grid-area: nav;
    background: #ffffff;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem rgba(235, 235, 235, 0.664);
}

.header-adjust {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0.85rem 0.85rem;
}

.logo {
    display: flex;
    margin-top: 0rem;
    /* align-self: center; */
    vertical-align: middle;
}

.logo .btn-phon {
    /* align-self: flex-start; */
    /* justify-self: flex-start; */
    margin-right: 0.1rem;
}

.logo .logo-site {
    width: 9rem;
}

.logo .logo-desktop {
    display: none;
}

.form-search .icon-search {
    fill: #696969;    
}

.zone-search svg,
.zone-search .rntl,
.zone-search input,
.form-search .search-button {
    visibility: hidden;
    vertical-align: middle;
    display: none;
}

.form-search svg {
    color: #5f5e5ea9;
}

.nav-element .menu {
    /* display: flex; */
    /* flex-shrink: 0; */
}

.menu {
    display: flex;
}

.menu .connect svg,
.menu .panier svg {
    display: flex;
}

.menu .panier svg {
    margin-left: 1rem;
    margin-right: 0.5rem;
    width: 24px;
}

.menu .help {
    visibility: hidden;
    display: none;
}

.menu .help .svg-show,
.menu .connect .svg-show,
.menu p {
    visibility: hidden;
    display: none;
}

.zone-search__mob {
    border: 1px solid #aca8a8;
    border-radius: 20px;
    background: white;
    vertical-align: middle;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: 0rem 0.2rem;
    width:96vw;
    height: 2.1rem;
    margin: 0rem auto 0.4rem;
    
}

.zone-search .icon-search__mob {
    margin-left: 0.5rem;
    fill: #cec7c7;
    vertical-align: middle;
}

.zone-search__mob .text-mob__search {
    vertical-align: middle;
    margin: 0rem 0.7rem;
    padding-top: 0.3rem;
    color: #aca8a8;
    font-weight: 100;
    font-size: 1rem;
}

.zone-search__mob .icon-search__mob {
    fill: #525050;
}

@media (min-width: 47rem) {
    body {
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 3.8rem 4.5rem auto 20rem;
    }

    .banner {
       min-width: 68rem;
       
    }

    .banner .banner-info {
        font-size: 1.4rem;
        font-size-adjust:auto;
        font-family: 'Roboto';
        font-weight: 900;
        width: 38rem;
        padding: 0.1rem;
    }

    .banner-info .color-banner{
        font-size: 1.5rem;
    }
    

    .header-properties {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 68rem;
    }

    .header-adjust {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 0;
        margin: 0 auto;
        max-width: 75rem;
    }

    .btn-phon {
        display: none;
    }

    .logo {
        vertical-align: middle;
        align-self: center;
        margin-left: 0.4rem;
        margin-right: 2rem;
    }

    .logo .logo-site {
        width: 9rem;
    }

    .logo .logo-desktop {
        display: initial;
    }

    .logo .logo-phone {
        display: none;
    }

    .form-search {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        height: 2.2rem;
        padding-right: 0rem;
        margin: 0 0.5rem;
    }

    .form-search .search {
        font-family: 'Lato-regular';
        font-weight: 400;
        align-self: center;
        font-size: 1.05rem;
        text-overflow: ellipsis; /* show dotte when width is decreased */
        width: 26vw;
        max-width: 24rem;
        height: 2.1rem;
        border-style: none;
        border: none;
        outline: none;
        vertical-align: middle;
    }

    .form-search svg {
        color: rgba(235, 235, 235, 0.664);
    }

    .zone-search {
        border: 1px solid #aca8a8;
        border-radius: 5px;
        margin-right: 0rem;
        width: 35vw; 
        max-width: 30rem;
        height: 2.25rem;
        background: white;
        vertical-align: middle;
    }

    .zone-search input,
    .form-search .search-button {
        visibility:visible;
        display: initial;
    }
    
    .zone-search > svg {
        margin: 0rem 0.35rem;
        height: 90%;
        width: 1.5rem;
    }
    
    .form-search .icon-search {
        vertical-align: middle;
    }

    .form-search .search-button {
        outline: none;
        border-style: none;
        margin-left: 0.4rem;
        height: 2.25rem;
        padding: 0.2rem 0.9rem;
        border-radius: 4px;
        background: #f19317f8;
        box-shadow: 1px 4px 5px 2px rgba(206, 205, 205, 0.589);
        color: #ffffff;
        vertical-align: middle;
        cursor: pointer;
        font-size: 0.9rem;
    }

    .zone-search svg,
    .zone-search input,
    .form-search .search-button {
        visibility: visible;
        display: initial;
    }

    .nav-element {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .menu {
        vertical-align: middle;
        display: flex;
    }

    .menu .connect,
    .menu .help,
    .menu .panier {
        color: #5a5858;
        fill:  #535353;
        margin-right: 0.4rem;
        height: 2rem;
        padding: 0.2rem;
        cursor: pointer;
        text-decoration: none;
    }

    .menu .connect svg,
    .menu .help svg,
    .menu .panier svg {
        display: initial;
        vertical-align: middle;
        cursor: pointer;
        margin: 0rem 0.3rem;
        padding: initial; 
        right: initial;
        width: initial;
        height: initial;
    }

    .menu .help ,
    .menu .connect,
    .menu .panier {
        visibility: visible;
        display: flex;
    }

    .menu .help .svg-show,
    .menu .connect .svg-show,
    .menu p {
        visibility: visible;
        display: initial;
    }

    .menu div {
        vertical-align: middle;
        cursor: pointer;
    }

    .menu .connect:active,
    .menu .help:active,
    .menu .panier:active {
        background-color: #e7e7e4;
        border-radius: 2px;
    }

    .menu .connect:hover ,
    .menu .help:hover ,
    .menu .panier:hover {
        color: #ffa500;
        fill: #ffa500;
    }

    .panier p {
        align-self: center;
        vertical-align: top;
    }
    
    .help p,
    .connect p {
        vertical-align: middle;
    }

    .zone-search__mob {
        display: none;
    }
}

/* @media only screen and (min-width:) */