@font-face {
    src: url(../fonts/Lato-Bold.ttf);
    font-family: 'Lato';
    font-weight: 700;
}

@font-face {
    src: url(../fonts/Lato-Regular.ttf);
    font-family: 'Lato-regular';
    font-weight: 400;
}

@font-face {
    src: url(../fonts/RobotoMono-Bold.ttf);
    font-family: 'Roboto';
    font-weight: 1100;
}

* , ::before , ::after {
    font-family: 'Lato-regular';
    box-sizing: border-box;
    font-weight: 700;
    user-select: none;
    -moz-user-select: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    background-color: #f5f5f5;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2.8rem 6.4rem auto 20rem;
    grid-template-areas: "banner banner banner" 
                         "nav nav nav"
                         "main main main"
                         "footer footer footer";
    margin: 0rem;
    gap: 0rem;
    align-content: top;
    justify-content: center;
    justify-items: stretch;
}

.banner {
    grid-area: banner;
    background: #141414;
    color: #ffffff;
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.banner .banner-info {
    font-size: 90%;
    font-family: 'Roboto';
    font-weight: 1100;
    width: 97vw;
    margin: 0 auto;
    padding: 0.2rem 0.2rem;
    text-align: center;
}

.banner-info .color-banner{
    color: #ffa500;
    font-size: 0.94rem;
}

.header-properties {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0rem;
    grid-area: nav;
    background: #ffffff;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem rgba(235, 235, 235, 0.664);
}

.header-adjust {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0.65rem 0.55rem;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0.65rem 0.55rem;
}

.logo {
    display: flex;
    margin-top: 0rem;
    vertical-align: middle;
}

.logo .btn-phon {
    margin-right: 0rem;
    margin-left: 0.4rem;
}

.logo a {
    display: inline-block;
}

.logo .logo-site {
    width: 7rem;
    margin-left: 0.6rem;
}

.logo .logo-desktop {
    display: none;
}

.form-search .icon-search {
    fill: #696969;    
}

.form-search .zone-search {
    display: none;
}

.zone-search svg,
.zone-search .rntl,
.zone-search input,
.form-search .search-button {
    visibility: hidden;
    vertical-align: middle;
    display: none;
}

.form-search svg {
    color: #5f5e5ea9;
}

.menu {
    display: none;
}

.icon__for-mob a {
    text-decoration: none;
}

.icon__for-mob .svg-person__mob , 
.icon__for-mob .svg-panier__mob{
    padding: 7px;
}

.icon__for-mob .svg-person__mob {
    margin: 0 0.4rem;
}

.zone-search__mob {
    border: 1px solid #aca8a8;
    border-radius: 20px;
    background: white;
    vertical-align: middle;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: 0rem 0.2rem;
    width:96vw;
    height: 2.1rem;
    margin: 0rem auto 0.4rem;
    
}

.zone-search .icon-search__mob {
    
    fill: #cec7c7;
    vertical-align: middle;
}

.zone-search__mob .text-mob__search {
    vertical-align: middle;
    margin: 0rem 0.7rem;
    padding-top: 0.3rem;
    color: #aca8a8;
    font-weight: 100;
    font-size: 1rem;
}

.zone-search__mob .icon-search__mob {
    margin-left: 0.2rem;
    fill: #525050;
}

.head-main {
    display: none;
}



@media (min-width: 47rem) {
    body {
       width: 100%; 
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 3.8rem 4.5rem auto 20rem;
    }

    .banner {
       min-width: 59rem;
       width: 100%;
       overflow: hidden;
    }

    .banner .banner-info {
        font-size: 1.4rem;
        font-size-adjust:auto;
        font-family: 'Roboto';
        font-weight: 900;
        width: 38rem;
        padding: 0.1rem;
    }

    .banner-info .color-banner{
        font-size: 1.5rem;
    }
    

    .header-properties {
        /* overflow: hidden; */
        flex-direction: row;
        align-items: center;
        /* justify-content: center; */
        width: 100%;
        min-width: 59rem;
        margin: 0 auto;
        z-index: 3;
        position: sticky;
        top: 0rem;
    }

    .header-adjust {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: space-between; */
        padding: 0.8rem 0;
        margin: 0 auto;
        /* width: 100%; */
        min-width: 58rem;
    }

    .btn-phon {
        display: none;
    }
    
    .logo {
        /* flex-basis: 18.75%;
        max-width: 18.75%;
        min-width: 18.75%; */
        /* width: 18.75%; */
        vertical-align: middle;
        align-self: center;
        margin-left: 0rem;
        position: relative;
        /* width: %; */
        /* margin-right: auto;  */
    }

    .logo a {
        margin-right: 1rem;
    }
    
    .logo .logo-site {
        width: 9rem;
    }
    
    .logo .logo-desktop {
        display: initial;
        margin: 0;
    }

    .logo .logo-phone {
        display: none;
        width: 100%;
    }
    
    .form-search {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        height: 2.2rem;
        padding-right: 0rem;
        margin: 0 0.5rem;
    }

    .form-search .zone-search ,
    .form-search .search-button {
        display: initial;
    }
    
    .form-search .search {
        font-family: 'Lato-regular';
        font-weight: 400;
        align-self: center;
        font-size: 1rem;
        text-overflow: ellipsis; /* show dotte when width is decreased */
        width: 70%;
        max-width: 24rem;
        height: 2.1rem;
        border-style: none;
        border: none;
        outline: none;
        vertical-align: middle;
    }
    
    .form-search svg {
        color: rgba(235, 235, 235, 0.664);
    }
    
    .zone-search {
        display: initial;
        border: 1px solid #aca8a8;
        border-radius: 5px;
        margin-right: 0rem;
        width: 25vw; 
        max-width: 30rem;
        min-width: 16rem;
        height: 2.25rem;
        background: white;
        vertical-align: middle;
        flex-grow: 1;
    }
    
    .zone-search input,
    .form-search .search-button {
        visibility:visible;
        display: initial;
    }
    
    .zone-search > svg {
        margin: 0rem 0.35rem;
        height: 90%;
        width: 1.5rem;
    }
    
    .form-search .icon-search {
        vertical-align: middle;
    }
    
    .form-search .search-button {
        outline: none;
        border-style: none;
        margin-left: 0.4rem;
        height: 2.25rem;
        padding: 0.2rem 0.9rem;
        border-radius: 4px;
        background: #f19317f8;
        box-shadow: 1px 4px 5px 2px rgba(206, 205, 205, 0.589);
        color: #ffffff;
        vertical-align: middle;
        cursor: pointer;
        font-size: 0.9rem;
        z-index: 1;
    }
    
    .form-search .search-button:hover {
        background-color: #d37e10f8;
    }

    .zone-search svg,
    .zone-search input,
    .form-search .search-button {
        visibility: visible;
        display: initial;
    }
    
    .nav-element {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .menu {
        position: relative;
        vertical-align: middle;
        display: flex;
    }
    
    .menu .connect,
    .menu .help,
    .menu .panier {
        color: #5a5858;
        align-self: center;
        fill:  #535353;
        margin-right: 0.4rem;
        padding: 0.39rem 0.1rem;
        cursor: pointer;
        text-decoration: none;
    }

    .menu .connect svg,
    .menu .help svg,
    .menu .panier svg {
        display: initial;
        vertical-align: middle;
        cursor: pointer;
        margin: 0rem 0.3rem;
    }
    
    .menu .help .svg-show,
    .menu .connect .svg-show,
    .menu p {
        display: initial;
    }
    
    .menu div {
        vertical-align: middle;
        cursor: pointer;
    }
    
    .menu .connect:active,
    .menu .help:active,
    .menu .panier:active {
        background-color: #e7e7e4;
        border-radius: 2px;
    }

    .connect-active ,
    .help-active {
        background-color: #eeeeec;
        border-radius: 3px;
    }
    
    .menu .connect:hover ,
    .menu .help:hover ,
    .menu .panier:hover {
        color: #ffa500;
        fill: #ffa500;
    }
   
    .help p,
    .connect p ,
    .panier p  {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        vertical-align: middle;
    }
    
    .header-adjust .icon__for-mob {
        display: none;
    }

    .zone-search__mob {
        display: none;
    }

    .connect-list {
        display: none;  
        position: absolute;
        opacity: 0;
        /* display: flex; */
        text-align: center;
        flex-direction: column;
        z-index: 10;
        background-color: #ffffff;
        box-shadow: 2px 2px 2px 2px rgba(235, 235, 235, 0.664);
        border-radius: 6px;
        top: 100%;
        right: 50%;
        width: 55%;
        font-size: 0.85rem;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #connect-id.visible ,
    #help-id.visible {
        display: flex !important;
        opacity: 1 !important;
    }

    .connect-list a ,
    .help-list .dr-down__help {
        color: #5a5858;
        text-decoration: none;
    }

    .connect-list a:not(.dr-down__login-a):hover {
        color: #201f1f;
        font-weight: bolder;
        font-size: 1.1rem;
    }

    .connect-list .dr-down__login,
    .connect-list .dr-down__signup {
        margin-top: 0.5rem;
        padding: 1rem;
    }

    .connect-list .ou {
        display: flex;
        flex-direction: row;
        padding-top: 0.9rem;
        height: 0.3rem;
    }

    .ou .tri1 ,
    .ou .tri {
        height: 0.1rem;
        width: 100%;
        background-color: #f5e7e7 ;
        vertical-align: middle;
    }

    .ou .ou-span {
        color: #958f8f;
        position: relative;
        top: -0.4rem;
        padding: 0 0.8rem;
        font-size: 0.8rem;
    }

    .dr-down__signup + .ou {
        height: 0.1rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
    .connect-list .dr-down__login a {
        background-color: #f19317f8;
        border-radius: 5px;
        box-shadow: 1px 4px 5px 2px rgba(206, 205, 205, 0.589);
        color: white;
        padding: 0.7rem 2.1rem;
    }

    .dr-down__login a:hover {
        background-color: #d37e10f8;
    }

    .connect-list .dr-down__signup a {
        color: #f19317f8;
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .dr-down__signup a:hover {
        background-color: #ffebd2f8;
        border-radius: 4px;
    }

    .connect-list .dr-down__a {
        /* display: flex; */
        text-align: start;
        padding-left: 0.8rem;
        justify-content: flex-start;
        align-content: center;
    }

    .dr-down__a:hover {
        background-color: #f5f3f3;
        color: #6e6b6b;
    }

    .dr-down__a svg,
    .dr-down__a span {
        vertical-align: middle;
        margin: 0.35rem 0.4rem;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .dr-down__a svg {
        margin-left: 0.2rem;
        margin-bottom: 0.5rem;
    }

    .last {
        padding: 0.2rem;
    }

    #backdrop {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        /* background: rgba(0, 0, 0, 0.75); */
        /* z-index: 0; */
        pointer-events: none;
        opacity: 0;
        display: none;
    }

    #backdrop.visible {
        display: block !important;
        pointer-events: all;
        opacity: 1 !important;
    }

    .help-list {
        display: none;  
        position: absolute;
        opacity: 0;
        /* display: flex; */
        /* text-align: center; */
        flex-direction: column;
        z-index: 10;
        background-color: #ffffff;
        box-shadow: 2px 2px 2px 2px rgba(235, 235, 235, 0.664);
        border-radius: 6px;
        top: 100%;
        right: 15%;
        width: 55%;
        font-size: 0.85rem;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #help-id.visible {
        display: flex !important;
        opacity: 1 !important;
    }

    .help-list .dr-down__help {
        font-family: sans-serif;
        color: #666565;
        font-weight: lighter;
        padding: 0.7rem 1rem;
    }

    .dr-down__help:hover {
        background-color: #f5f3f3;
        color: #4d4c4c;
        font-weight: bold;
        font-size: 0.84rem;
    }

    main {
        display: flex;
        width: 98vw;
        /* margin: 1rem auto; */
    }

    .main {
        display: flex;
        justify-items: center;
        justify-content: center;
        /* max-width: 70rem; */
        margin: 1rem auto;
    }

    .head-main {
        display: flex;
        justify-items: center;
        /* flex-shrink: 0;
        flex-grow: 1; */
        margin-left: auto;
        /* max-width: 70rem; */
    }

    .aside {
        position: relative;
        vertical-align: middle;
        font-family: inherit;
        background-color: #ffffff;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        width: 12.9rem;
        max-height: 24.1rem;
        margin-left: 0.5rem;
        padding: 0.34rem;
        font-size: 0.81rem;
        font-weight: lighter;
        box-shadow: 0.05rem 0.1rem 0.1rem 0.1rem rgba(235, 235, 235, 0.664);
        border-radius: 4px;
    }

    .dr-right__aside-menu {
        position: absolute;
        top: 0rem ;
        left: 13rem;
        width: 46rem;
        min-height: 24rem;
        max-height: 24.1rem;
        /* padding: 1rem; */
        height: 384px;
        background-color: #ffffff;
        /* z-index: 2; */
        display: none;
        box-shadow: 0.05rem 0.1rem 0.1rem 0.1rem rgba(235, 235, 235, 0.664);
        border-radius: 4px;
        transition: 0.8s;
    }

    /* .dr-right__aside-menu.visible {
        display: flex;
    } */

    .dr-right__aside {
        padding: 0.35rem 0.1rem;
    }

    .dr-right__aside:hover .dr-right__aside-menu{
        display: flex;
    }

    .dr-right__aside-menu .col {
        padding-left: 0.45rem;
        padding-top: 0.4rem;
        /* margin-left: 1rem; */
        width: 15.3rem;
        /* height: 8rem; */
    }

    .dr-right__aside-menu .col ,
    .col .cat {
        font-size: .78rem;
        display: flex;
        flex-direction: column;
        
    }

    .col .cat {
        margin-bottom: 0.6rem;
        padding: 0.25rem 0.2rem;
        /* height: 20rem; */
        
    }

    .cat .title {
        color: #535151;
        font-weight: bold;
        border-bottom: 1px solid #e4dfdf;
        text-decoration: none;
        margin-bottom: 0.35rem;
        padding-bottom: 0.4rem;
    }

    .cat .item-menu {
        text-decoration: none;
        color: #474646;
        font-weight: lighter;
        padding: 0.2rem 0.1rem;
    }

    .cat .item-menu:hover {
        color: #5c5757;
        font-weight: bold;
    }

    .aside .item {
        text-decoration: none;
        /* padding: 0.35rem 0.1rem; */
        color: #474646;
        font-weight: lighter;
    }  

    .aside svg,
    .aside span {
        vertical-align: middle;
        user-select: none;
        -moz-user-select: none;
    }

    .aside a:hover {
        fill: #ffa500;
        color: #ffa500;
    }

    .aside-main {
        vertical-align: middle;
        display: flex;
        margin-left: 1rem;
    }

    .aside-main a {
        width: 45rem;
        /* height: 23rem; */
        /* padding: 0.5rem; */
    }

    .aside-main img {
        width: 45rem;
        height: 24rem;
    }
    
    .pub {
        display: none;
    }

}

@media (min-width : 75rem) {

    .banner {
        width: 99.99vw;
     }

    .header-properties {
        flex-direction: row;
        align-items: center;
        width: 99.99vw;
        min-width: 65rem;
        margin: 0 auto;
        position: sticky;
    }

    .header-adjust {
        
        min-width: 74rem;
    }

    .zone-search {
        display: initial;
        border: 1px solid #aca8a8;
        border-radius: 5px;
        margin-right: 0rem;
        width: 32vw; 
        max-width: 30rem;
        height: 2.25rem;
        background: white;
        vertical-align: middle;
    }

    .form-search .search {
        width: 82%;
        max-width: 24rem;
    }
    
    .pub {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 1rem;
    }

    .pub a {
        /* width: 100%; */
    }

    .aside-main img ,
    .pub-2 img ,
    .pub-1 img {
        border-radius: 3px;
        box-shadow: 0.05rem 0.1rem 0.1rem 0.1rem rgba(235, 235, 235, 0.664);
        /* height: 20rem; */
        /* margin: 0rem 0rem;  */
    }

    .pub-2 img {
        margin-top: 0.8rem;
    }

    
}

/* @media only screen and (min-width:) */